@(controller:de.htwg.se.reversi.controller.controllerComponent.ControllerInterface)

@size= @{ controller.gridSize }

@cellType(row:Int, col:Int) = @{
    controller.cell(row, col).value match {
        case 1 => "white"
        case 2 => "black"
        case _ => "notSet"
    }
}

@main("HTWG Reversi") {
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")' />

    <div class="gamecontainer">
        <div class="game">
        @for(row <- 0 until size) {
            @for(col <- 0 until size) {
                <div class="@{cellType(row, col)}"></div>
            }
            <div class="clear"></div>
        }
        </div>
    </div>
}